#puzzle-container {
  display: grid;
  gap: 5px;
  margin-top: 20px;
  justify-content: center;
}

.tile {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
}

.tile.empty {
  visibility: hidden;
}
